<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="float-left">
              <span *ngIf="!type.otherTitle" style="font-size: 1.25em">{{type.name}} </span>
              <span *ngIf="type.otherTitle" style="font-size: 1.25em">{{type.otherTitle}}</span>
          </div>
          <div class="float-right">
            <button *ngIf="permisoRegistro && type" class="btn btn-primary" (click)="onClickRegister()">
              <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
              {{type.name}}
            </button>
          </div>
        </div>
        <div *ngIf="permisoConsulta" class="card-body">
          <form [formGroup]="form" (validSubmit)=" onClickSearchBtn()">
              <ng-content select="[filtrosContent]"></ng-content>
          </form>
          <ng-content select="[resultadoContent]"></ng-content>
        </div>

      </div>
    </div>
  </div>
</div>
