<app-template-mantenimiento [type]="type" (clickProcesarBtn)="abrirModalRegistrar()" [loading]="loading" #template>
  <app-pagelength [gridApi]="gridApi"></app-pagelength>
  <ag-grid-angular
    #agGrid
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
  ></ag-grid-angular>
</app-template-mantenimiento>

<app-form-modal [options]="mdFormOpts" [form]="form" #mdSave>
  <div class="row col-12">
    <div class="col-8">
      <div class="col-12">
        <fieldset class="well" style="background-color: #F5F5F5">
        <legend class="well-legend"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Filtros </legend>

    <div [formGroup]="formHorario">
            <div class="row">
              <label class="col-sm-2 ob-custom-label-form">Espacios</label>
              <div class="form-group col-sm-4">
                <ng-select #pabellonSelect [items]="espacios" class="ng-select-custom" bindLabel="label" bindValue="idEspacioAcademico"
                    placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'" [multiple]="true"
                    formControlName="idsEspacioAcademico">
                <ng-template ng-option-tmp let-item="item">
                    {{item.descripcionEspacioAcademico}}
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                    {{item.descripcionEspacioAcademico}}
                </ng-template>
                </ng-select>
              </div>
              <label class="col-sm-2 ob-custom-label-form">Fecha</label>
              <div class="form-group col-sm-4">
                  <input type="text" class="form-control mb-3" placeholder=""
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
                    bsDatepicker formControlName="fechas" />
                <bfv-messages></bfv-messages>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 text-center">
                <button type="submit" class="btn btn-primary" [disabled]="buscando" (click)="onClickBuscarHorarioEspacio()">
                  <i class="fa" [ngClass]="{'fa-spinner fa-pulse fa-fw': buscando  , 'fa-search': !buscando}"></i> Buscar
                </button>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="col-12">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          [gridOptions]="gridOptionsHorario"
        ></ag-grid-angular>
      </div>
    </div>
    <div class="col-4">
      <div [formGroup]="form">
        <fieldset class="well" style="background-color: #F5F5F5">
          <legend class="well-legend"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Agregar solicitud </legend>

          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Tipo</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <ng-select #pabellonSelect [items]="tipoSolicitante" class="ng-select-custom" bindLabel="descripcionItem" bindValue="idMultitabDet"
                placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
                formControlName="tipoSolicitud" (change)="onChangeTipoSolicitante($event)">
              </ng-select>
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Solicitante</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <ng-select #pabellonSelect [items]="solicitantesFiltrado" class="ng-select-custom" bindLabel="label" bindValue="idSolicitante"
                placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
                formControlName="idSolicitante">
                <ng-template ng-option-tmp let-item="item">
              {{item.dni}} - {{item.nombres}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
              {{item.dni}} - {{item.nombres}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
                </ng-template>
              </ng-select>
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Motivo</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <textarea  rows="5" class="form-control" formControlName="motivo"></textarea>
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Espacio</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <ng-select #pabellonSelect [items]="espacios" class="ng-select-custom" bindLabel="label" bindValue="idEspacioAcademico"
                placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
                formControlName="idEspacioAcademico">
                <ng-template ng-option-tmp let-item="item">
              {{item.idEspacioAcademico}} - {{item.descripcionEspacioAcademico}}
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
              {{item.idEspacioAcademico}} - {{item.descripcionEspacioAcademico}}
                </ng-template>
              </ng-select>
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 ob-custom-label-form">Fecha Reserva</label>
            <div class="form-group col-sm-10 col-lg-10">
              <div class="input-group">
                  <input type="text" class="form-control mb-3" placeholder=""
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
                    bsDatepicker formControlName="fechaReserva" />
                  <bfv-messages></bfv-messages>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="icon-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Inicio</label>
            <div class="form-group col-sm-10 col-md-10 col-lg-10">
              <input class="form-control" formControlName="horaInicio">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-md-2 col-lg-2 ob-custom-label-form">Fin</label>
            <div class="form-group col-sm-10 col-md-10 col-lg-10">
              <input class="form-control" formControlName="horaFin">
              <bfv-messages></bfv-messages>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-md-12 col-lg-12">
        			<ngx-dropzone (change)="onSelect($event)"
        					[multiple]="configCarga.multiple"
        					[accept]="configCarga.accept"
        					[maxFileSize]="configCarga.maxFileSize"
        					[expandable]="configCarga.expandable">
        				<ngx-dropzone-label>Arrastre aquí el archivo</ngx-dropzone-label>
        				<ngx-dropzone-preview *ngFor="let f of files"
        					[removable]="true"
        					(removed)="onRemove(f)">
        					<ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        				</ngx-dropzone-preview>
        			</ngx-dropzone>
        		</div>


          </div>
          <div class="form-group row">
            <div class="col-lg-12 text-center">
              <button type="submit" class="btn btn-success" [disabled]="prestando" (click)="clickSolicitar()">
                <i class="fa" [ngClass]="{'fa-spinner fa-pulse fa-fw': prestando  , 'fa-check': !prestando}"></i> Agregar solicitud
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

</app-form-modal>
<app-form-modal [options]="mdFormOpts" (onSubmit)="save()" [form]="form" #mdUpdate>
  <div [formGroup]="form">
      <div class="form-group row">
          <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Código Solicitud</label>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <input type="number" class="form-control" formControlName="idSolicitud">
            <bfv-messages></bfv-messages>
          </div>

          <label class="col-sm-1 ob-custom-label-form">Fecha Solicitud</label>
          <div class="form-group col-sm-3 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control mb-2" placeholder=""
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
                  bsDatepicker formControlName="fechaRegistro" />
                <bfv-messages></bfv-messages>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="icon-calendar"></i></span>
                </div>
            </div>
          </div>
          <label class="col-sm-1 ob-custom-label-form">Fecha Reserva</label>
          <div class="form-group col-sm-3 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control mb-2" placeholder=""
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }"
                  bsDatepicker formControlName="fechaReserva" />
                <bfv-messages></bfv-messages>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="icon-calendar"></i></span>
                </div>
            </div>
          </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Espacio</label>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <ng-select #pabellonSelect [items]="espacios" class="ng-select-custom" bindLabel="label" bindValue="idEspacioAcademico"
            placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
            formControlName="idEspacioAcademico">
            <ng-template ng-option-tmp let-item="item">
          {{item.idEspacioAcademico}} - {{item.descripcionEspacioAcademico}}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
          {{item.idEspacioAcademico}} - {{item.descripcionEspacioAcademico}}
            </ng-template>
          </ng-select>
          <bfv-messages></bfv-messages>
        </div>

        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Inicio</label>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <input class="form-control" formControlName="horaInicio">
          <bfv-messages></bfv-messages>
        </div>
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Fin</label>
        <div class="form-group col-sm-3 col-md-3 col-lg-3">
          <input class="form-control" formControlName="horaFin">
          <bfv-messages></bfv-messages>
        </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Tipo</label>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <ng-select #pabellonSelect [items]="tipoSolicitante" class="ng-select-custom" bindLabel="descripcionItem" bindValue="idMultitabDet"
            placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
            formControlName="tipoSolicitud" (change)="onChangeTipoSolicitante($event)">
          </ng-select>
          <bfv-messages></bfv-messages>
        </div>
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Solicitante</label>
        <div class="col-sm-7 col-md-7 col-lg-7">
          <ng-select #pabellonSelect [items]="solicitantesFiltrado" class="ng-select-custom" bindLabel="label" bindValue="idSolicitante"
            placeholder="TODOS" [notFoundText]="'No hay datos encontrados.'"
            formControlName="idSolicitante">
            <ng-template ng-option-tmp let-item="item">
          {{item.dni}} - {{item.nombres}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
          {{item.dni}} - {{item.nombres}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
            </ng-template>
          </ng-select>
          <bfv-messages></bfv-messages>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Motivo</label>
        <div class="col-sm-11 col-md-11 col-lg-11">
          <textarea  rows="5" class="form-control" formControlName="motivo"></textarea>
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Estado Solicitud</label>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <ng-select #estadoSolicitudSelect [items]="estadoSolicitud" class="ng-select-custom" bindLabel="descripcionItem" bindValue="idMultitabDet"
          [notFoundText]="'No hay datos encontrados.'"
            formControlName="estadoSolicitud" >
          </ng-select>
          <bfv-messages></bfv-messages>
        </div>
        <label class="col-sm-1 col-md-1 col-lg-1 ob-custom-label-form">Estado Solicitud</label>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <ng-select #estadoSolicitudSelect [items]="estadoAsistencia" class="ng-select-custom" bindLabel="descripcionItem" bindValue="idMultitabDet"
          [notFoundText]="'No hay datos encontrados.'"
            formControlName="estadoAsistencia" >
          </ng-select>
          <bfv-messages></bfv-messages>
        </div>
        </div>

  </div>
</app-form-modal>
